{{#if commentsCount}}
	<button {{action 'toggleComments'}} {{bind-attr class=':show-comments-btn :page-btn isCollapsed:collapsed'}}>
		{{view.T-article-comments-label}}
		{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
	</button>
{{/if}}
{{#if showComments}}
	{{#if model.comments}}
		<button {{bind-attr class=':page-btn prevButtonShown::hidden'}} {{action 'prevPage'}}>{{view.T-comments-prev-button}}</button>
		<ul {{bind-attr class=':comments commentsHidden:hidden'}}>
			{{#each comment in model.comments}}
				{{article-comment comment=comment users=model.users}}
			{{/each}}
		</ul>
		<button {{bind-attr class=':page-btn nextButtonShown::hidden'}} {{action 'nextPage'}}>{{view.T-comments-next-button}}</button>
	{{/if}}
{{/if}}
