{{#unless error}}
<section class='article-body'>
	<h1 class='article-title'>{{cleanTitle}}</h1>
	{{#if sections.length}}
		{{#collapsible-menu
			showMenuIcon=true
			additionalClasses='table-of-contents'
			tLabel='article-toc-label'
			ordered=true
			observe=cleanTitle
			animSpeed=0
			trackingEvent='toc'
		}}
			{{#each sections}}
			<li {{action 'trackClick' 'toc' 'header' on='mouseDown'}}>
				<a href='#{{unbound id}}' title='{{unbound name}}'>
					{{unbound name}}
					{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
				</a>
			</li>
			{{/each}}
		{{/collapsible-menu}}
	{{/if}}
	{{#view 'article-content'}}
		{{#if article}}
			{{{article}}}
		{{else}}
			{{i18n 'article-empty-label'}}
		{{/if}}
	{{/view}}

</section>
{{#if membersExist}}
<nav class='category-pages'>
	<div class='search-container'>
		{{input placeholder='Search article in this category' value=searchQuery }}
		<svg {{action 'clearSearch' }} viewbox='0 0 18 18' class='icon close-side-menu'>
			<use xlink:href='#close-side-menu'></use>
		</svg>
	</div>

		<ul>
		{{#each categorymembers}}
		<li {{action 'trackClick' 'category' 'link'}}>
			{{#link-to 'article' title}}
				{{title}}
			{{/link-to}}
		</li>
		{{/each}}
		</ul>
</nav>
{{#if isMore}}<a class='loadMore' {{action 'loadMore'}}>Load More</a> {{/if}}
{{/if}}
<section class='article-footer'>
{{wikia-users
	users=topContributors
	classes='contributors'
	label='article-top-contributors-label'
	trackingEvent='contributors'
}}
{{article-comments page=commentsPage articleId=id commentsCount=comments}}
{{#if categories}}
	{{#collapsible-menu
		showMenuIcon=false
		additionalClasses='article-categories-list'
		tLabel='article-categories-list-label'
		ordered=false
		observe=cleanTitle
		animSpeed=controller.controllers.application.globalAnimSpeed
		trackingEvent='category'
	}}
		{{#each categories itemController='categoryListItem'}}
		<li {{action 'trackClick' 'category' 'link'}}>
			{{#link-to 'article' categoryTitle bubbles=false}}
				{{cleanTitle}}
				{{svg 'chevron' viewBox='0 0 12 7' class='icon chevron'}}
			{{/link-to}}
		</li>
		{{/each}}
	{{/collapsible-menu}}
{{/if}}
</section>
{{content-recommendations pages=relatedPages}}
{{else}}
	{{render 'not-found'}}
{{/unless}}
{{view 'wikia-footer'}}
